.CardHighlights {
	height: 145px;
	display: grid;

	gap: 1.5em;
    margin-left: 16px;
}

.scrollx {
	overflow-x: scroll;
}

.CardHighlights .CardHighlights-historys {
	width: 100px;
	height: 100px;
	text-align: center;
}

.CardHighlights .CardHighlights-historys img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}
