.Publicacion{
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 100%;
    padding: 32px;
}

.Publicacion-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.Publicacion-userContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Publicacion-userContainer-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.Publicacion-userContainer-data-user{
    font-family: apex;
    font-size: 20px;
}

.Publicacion-userContainer-button{
    font-family: apex;
    font-size: 20px;
    padding: 12px 40px;
}

.Publicacion-descripcion{
    font-family: salvatore;
    font-size: 14px;
    margin: 4px 0px;
}

.Publicacion-interaction {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.Publicacion-interaction-likeBlock{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Publicacion-interaction-likeBlock img{
    height: 30px;
}

.Publicacion-interaction-favorite img{
    width: 30px;
}