.Comments{
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 100%;
    padding: 32px;
}

.Comments-header{
    display: flex;
    flex-direction: row; 
}

.Comments-header-backIcon{
    height: 40px;
}

.input-button {
	width: 100%;
	padding: 15px 30px;

	border: none;
	border-radius: 8px;

	background-color: #e2e0e2;
	color: #50003e;
	cursor: pointer;

	font-family: apex;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-button-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-button-icon{
    height: 20px;
}

.input-button-icon-forward{
    height: 28px;
    opacity: 0.4;
}