.inputs {
    display: flex;
    flex-direction: column;
}

.inputs .inputs_container {
    position: relative;
    width: 100%;
}

.inputs .inputs_container input {
    width: 100%;
    height: 56px;

    margin: auto;
    padding: 0px 22px;

    background: rgba(50, 52, 56, 0.1);
    border-radius: 8px;
    border: none;
}

.inputs span {
    color: red;
}

.inputs .inputs_container img {
    position: absolute;
    top: 12px;
    right: 18px;

    width: 32px;
    height: 32px;

    opacity: 0.4;
    transition: all 250ms;
}