*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@font-face {
	font-family: apex;
	font-weight: 650;
	src: url(./assets/fonts/ApexNew-Heavy.ttf);
}

@font-face {
	font-family: salvatore;
	font-weight: 650;
	src: url(./assets/fonts/Fontspring-DEMO-salvatore-light.otf);
}

body {
	background-color: #f5f3f5;
}

#root {
	height: 100vh;
}

.title-sm {
	font-size: 18px;
	font-family: 'apex', Arial;
}
.title-md {
	font-size: 24px;
	font-family: 'apex', Arial;
}
.title-lg {
	font-size: 32px;
	font-family: 'apex', Arial;
}

.body-sm {
	font-size: 16px;
	font-family: 'salvatore', Arial;
}
.body-md {
	font-size: 20px;
	font-family: 'salvatore', Arial;
}

.color-logo {
	color: #50003e;
}

.color-logo-light {
	color: #8d006c;
}

.color-black {
	color: #333539;
}

.color-black-light {
	color: #8e94a0;
}

.color-black-op4 {
	color: #33353946;
}

a {
	text-decoration: none;
	color: #8d006c;
}

button {
	width: 100%;
	padding: 21px 0px;

	border: none;
	border-radius: 8px;

	background-color: #50003e;
	color: white;
	cursor: pointer;
}

